body {
  background: #000000 url('../img/neko.jpg') no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  color:white;
}

.ui.main.container {
  padding-top: 80px;
}

a.logo {
  font-family: 'Exo', sans-serif;
 /* color: #f33;*/
 color: #3f9;
}

div.center.column {
  max-width: 550px;
}

.statement {
  background-color: rgba(255,255,255,.5);
  padding: 10pt;
}

.register {
  /*color:#0066CC;*/
  color: #8fadcc;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

a.campaigns {
 /*color:red;*/
  color:#e6ffff;
  font-size:16px;
  font-weight: bold;
}

ul.label {
  list-style-type: none;
}


.dropdown:hover > .menu {
  display: flex;
}